@import "tailwindcss";

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
    font-family: var(--font-inter), system-ui, sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-cormorant), serif;
}


/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
    --font-inter: 'Inter', sans-serif;
    --font-cormorant: 'Cormorant Garamond', serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-rgb: 0, 0, 0;
    }
}

* {
    /* padding: 0;
    margin: 0; */
}

body {

    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
}

/* Optional: Custom styles */
@layer components {
    .btn-primary {
        @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
    }

    .card {
        @apply bg-white rounded-lg shadow-md p-6;
    }
}

section {
    margin-bottom: 20px;
}